name: Backup Git repository

on:
  workflow_dispatch:
  push:
    branches:
    - master

jobs:
  BackupBinary:
    runs-on: ubuntu-20.04
    steps:
    - name: Set up Go 1.15
      uses: actions/setup-go@v2.1.3
      with:
        go-version: 1.15
      id: go
    - uses: actions/checkout@v2.3.4
    - name: Upgrade upx
      run: |
        # try to fix https://github.com/jenkins-zh/jenkins-cli/issues/493
        wget https://github.com/upx/upx/releases/download/v3.96/upx-3.96-amd64_linux.tar.xz
        tar xvf upx-3.96-amd64_linux.tar.xz
        upx-3.96-amd64_linux/upx -V
        sudo mv upx-3.96-amd64_linux/upx $(which upx)
        upx -V
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v2.6.0
      with:
        version: latest
        args: release --rm-dist --snapshot
  BackupGit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - name: backup
      uses: jenkins-zh/git-backup-actions@v0.0.4
      env:
        GIT_DEPLOY_KEY: ${{ secrets.GIT_DEPLOY_KEY }}
        TARGET_GIT: "git@gitee.com:jenkins-zh/jenkins-cli.git"
