name: Backup Git repository

on:
  push:
    branches:
    - master

jobs:
  hugo-deploy-gh-pages:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go
    - uses: actions/checkout@v1
    - name: Download bindata
      run: go-bindata-download-linux
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v1
      with:
        version: latest
        args: release --rm-dist --snapshot
    - name: Publish Release
      run: |
        git clone https://github.com/jenkins-zh/jcli-repo
        cp release/checksums.txt jcli-repo
        cp release/jcli-darwin-386.tar.gz jcli-repo
        cp release/jcli-darwin-amd64.tar.gz jcli-repo
        cp release/jcli-darwin-amd64.tar.gz jcli-repo
        cp release/jcli-freebsd-386.tar.gz jcli-repo
        cp release/jcli-freebsd-amd64.tar.gz jcli-repo
        cp release/jcli-linux-32bit.deb jcli-repo
        cp release/jcli-linux-32bit.rpm jcli-repo
        cp release/jcli-linux-386.tar.gz jcli-repo
        cp release/jcli-linux-64bit.deb jcli-repo
        cp release/jcli-linux-64bit.rpm jcli-repo
        cp release/jcli-linux-amd64.tar.gz jcli-repo
        cp release/jcli-windows-386.zip jcli-repo
        cp release/jcli-windows-amd64.zip jcli-repo
        cd jcli-repo && git config --local user.email "361981269@qq.com" && git config --local user.name "rick" && git add . && git commit -m 'Auto commit by rick bot' && git push https://linuxsuren:${{ secrets.GITHUB_SECRETS }}@github.com/jenkins-zh/jcli-repo.git

    - name: backup
      uses: jenkins-zh/git-backup-actions@v0.0.3
      env:
        GIT_DEPLOY_KEY: ${{ secrets.GIT_DEPLOY_KEY }}
        TARGET_GIT: "git@gitee.com:jenkins-zh/jenkins-cli.git"
