name: generator

on:
  push:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    steps:
      - uses: actions/checkout@v3
      - name: Update readme
        uses: linuxsuren/yaml-readme@v0.0.16
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN_SECRETS }}
        with:
          pattern: ''
          username: linuxsuren
          org: jenkins-zh
          repo: jenkins-cli
