name: Pull Request Build

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: macos-10.15
    steps:
      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@v1
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v1
        with:
          version: latest
          args: check
      - name: Build
        run: |
          brew install upx
          upx -V
          export PATH=$PATH:${PWD}/bin:$GOPATH/bin:/home/runner/go/bin
          make clean gen-data-darwin tools release test-release
  GoLint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@v1
      - name: Go-linter-1
        uses: Jerome1337/golint-action@v1.0.2
        with:
          golint-path: app/cmd/...
      - name: Go-linter-2
        uses: Jerome1337/golint-action@v1.0.2
        with:
          golint-path: app/helper/...
      - name: Go-linter-3
        uses: Jerome1337/golint-action@v1.0.2
        with:
          golint-path: app/i18n/i18n.go
      - name: Go-linter-4
        uses: Jerome1337/golint-action@v1.0.2
        with:
          golint-path: app/.
      - name: Go-linter-5
        uses: Jerome1337/golint-action@v1.0.2
        with:
          golint-path: client/...
      - name: Go-linter-6
        uses: Jerome1337/golint-action@v1.0.2
        with:
          golint-path: util/...

#      - name: SonarCloud Scan
#        uses: LinuxSuRen/sonarcloud-github-action@master
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

#      - name: Test
#        run: |
#          export PATH=$PATH:${PWD}/bin:$GOPATH/bin:/home/runner/go/bin
#          make test
