name: Pull Request Build

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v1
        with:
          version: latest
          args: checkout

      - name: Build
        run: |
          export PATH=$PATH:${PWD}/bin:$GOPATH/bin:/home/runner/go/bin
          make clean go-bindata-download-linux tools init build-all

      - name: Test
        run: |
          export PATH=$PATH:${PWD}/bin:$GOPATH/bin:/home/runner/go/bin
          make test

#      - name: SonarCloud Scan
#        uses: LinuxSuRen/sonarcloud-github-action@master
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Upload darwin artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          name: darwin
          path: bin/darwin/jcli

      - name: Upload linux artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          name: linux
          path: bin/linux/jcli

      - name: Upload windows artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          name: windows
          path: bin/windows/jcli.exe
