name: Release

on:
  push:
    tags:
      - '*'

jobs:
  goreleaser:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4
    - name: Unshallow
      run: git fetch --prune --unshallow
    - name: Set up Go
      uses: actions/setup-go@v2.1.3
      with:
        go-version: 1.15.x
    - name: Upgrade upx
      run: |
        # try to fix https://github.com/jenkins-zh/jenkins-cli/issues/493
        wget https://github.com/upx/upx/releases/download/v3.96/upx-3.96-amd64_linux.tar.xz
        tar xvf upx-3.96-amd64_linux.tar.xz
        upx-3.96-amd64_linux/upx -V
        sudo mv upx-3.96-amd64_linux/upx $(which upx)
        rm -rf upx-3.96-amd64_linux
        upx -V
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v2.4.1
      with:
        version: latest
        args: release --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN_SECRETS }}
    - name: Backup Release Version
      run: |
        jcli_ver=$(hub tag --list | sort -V | tail -n 1)
        git clone https://github.com/jenkins-zh/jcli-repo
        cp release/checksums.txt jcli-repo
        cp release/jcli-darwin-amd64.tar.gz jcli-repo
        cp release/jcli-linux-64bit.deb jcli-repo
        cp release/jcli-linux-64bit.rpm jcli-repo
        cp release/jcli-linux-amd64.tar.gz jcli-repo
        cp release/jcli-windows-amd64.zip jcli-repo
        cp release/jcli-linux-arm64.tar.gz jcli-repo
        cp release/jcli-linux-arm64.rpm jcli-repo
        cp release/jcli-linux-arm64.deb jcli-repo
        cd jcli-repo && git config --local user.email "361981269@qq.com" && \
          git config --local user.name "rick" && git add . && \
          git commit -m 'Auto commit by rick bot' && \
          git tag $jcli_ver && \
          git push https://linuxsuren:${{ secrets.GITHUB_SECRETS }}@github.com/jenkins-zh/jcli-repo.git --tags

    - name: Publish Dev Version to Bintray
      run: |
        jcli_ver=$(hub tag --list | sort -V | tail -n 1)
        echo "start to upload rpm packages"
        curl -ulinuxsuren:${{ secrets.BINTRAY_TOKEN }} -X DELETE https://api.bintray.com/packages/jenkins-zh/rpm/jenkins-cli/versions/$jcli_ver
        curl -T release/jcli-linux-64bit.rpm -ulinuxsuren:${{ secrets.BINTRAY_TOKEN }} \
          -H "X-Bintray-Package:jenkins-cli" -H "X-Bintray-Version$jcli_ver" \
          https://api.bintray.com/content/jenkins-zh/rpm/jenkins-cli/$jcli_ver/jcli-linux-64bit.rpm
        curl -T release/jcli-linux-arm64.rpm -ulinuxsuren:${{ secrets.BINTRAY_TOKEN }} \
          -H "X-Bintray-Package:jenkins-cli" -H "X-Bintray-Version$jcli_ver" \
          https://api.bintray.com/content/jenkins-zh/rpm/jenkins-cli/$jcli_ver/jcli-linux-arm64.rpm
        curl -ulinuxsuren:${{ secrets.BINTRAY_TOKEN }} -X POST https://api.bintray.com/content/jenkins-zh/rpm/jenkins-cli/$jcli_ver/publish

        echo "start to upload deb packages"
        curl -ulinuxsuren:${{ secrets.BINTRAY_TOKEN }} -X DELETE https://api.bintray.com/packages/jenkins-zh/deb/jenkins-cli/versions/$jcli_ver
        curl -T release/jcli-linux-64bit.deb -ulinuxsuren:${{ secrets.BINTRAY_TOKEN }} \
          -H "X-Bintray-Debian-Distribution:wheezy" -H "X-Bintray-Debian-Component:main" -H "X-Bintray-Debian-Architecture:amd64" \
          https://api.bintray.com/content/jenkins-zh/deb/jenkins-cli/$jcli_ver/jcli-linux-64bit.deb
        curl -T release/jcli-linux-arm64.deb -ulinuxsuren:${{ secrets.BINTRAY_TOKEN }} \
          -H "X-Bintray-Debian-Distribution:wheezy" -H "X-Bintray-Debian-Component:main" -H "X-Bintray-Debian-Architecture:amd64" \
          https://api.bintray.com/content/jenkins-zh/deb/jenkins-cli/$jcli_ver/jcli-linux-arm64.deb
        curl -X POST -ulinuxsuren:${{ secrets.BINTRAY_TOKEN }} https://api.bintray.com/content/jenkins-zh/deb/jenkins-cli/$jcli_ver/publish
